
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&family=Poppins:wght@200&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@font-face {
	font-family: "RocherColorGX";
	src: url("https://res.cloudinary.com/dldmpwpcp/raw/upload/v1618681463/RocherColorGX-768140da_pydqor.woff2")
		format("woff2 supports variations");
	src: url("https://res.cloudinary.com/dldmpwpcp/raw/upload/v1618681463/RocherColorGX-768140da_pydqor.woff2")
		format("woff2-variations");
	font-display: swap;
}


:root {
	--cor-fonte-jackson: #dfca3a;
}

html {
	height: 100%;
	width: 100%;
}

/* reset básico */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding-bottom: 16px;
}

header {
	border-bottom: 1px solid #F78B1F;
}

.container {
	width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
}

.menu {
	display: flex;
	list-style: none;
	gap: 40px;
}

.link-menu {
	color: #005594;
	font-family: 'Poppins', serif;
	text-decoration: none;
}

.link-menu:hover {
	color: #F78B1F;
}


.cartoes {
	width: 1280px;
	/* Ajustei a largura de 1200 pra 1280 pra ficar um pouco maior */
	margin: 64px auto;
	/* Coloquei uma margin pra cima só pra não ficar grudado no header */
	display: flex;
	/* Coloquei o display flex pra poder alinhar os cards*/
	flex-wrap: wrap;
	/* wrap pra quebrar a linha quando colocarem mais cartões */
	gap: 40px;
	/* Distância entre um cartão e outro */
}

.cartao {
	width: 620px;
	/* Mudei a largura para px para facilitar na hora de deixar responsivo */
	height: 500px;
	/* Adicionei uma altura */
}


#cartao1 {
	background: linear-gradient(#1e6462, #2f8b7c, #0c3133);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

#cartao1 span:first-of-type {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background: linear-gradient(to right, transparent, #54d7c4);
	animation: animar1 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animar1 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

#cartao1 span:nth-of-type(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background: linear-gradient(to bottom, transparent, #54d7c4);
	animation: animar2 2s linear infinite;
}

@keyframes animar2 {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
	}
}

#cartao1 span:nth-of-type(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 6px;
	background: linear-gradient(to left, transparent, #54d7c4);
	animation: animar3 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animar3 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

#cartao1 span:nth-of-type(4) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 6px;
	height: 100%;
	background: linear-gradient(to top, transparent, #54d7c4);
	animation: animar4 2s linear infinite;
}

@keyframes animar4 {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
	}
}

#cartao1 .cartao1__hearder {
	width: 620px;
	height: 160px;
	background-image: url('assets/background/tech-background-top-renato.gif');
	background-repeat: no-repeat;
}

#cartao1 .cartao1__foto {
	width: 160px;
	border-radius: 50%;
	position: absolute;
	top: 55px;
	left: 230px;
}

#cartao1 .cartao1__apresentacao {
	width: 620px;
	height: 300px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 80px;
	color: #f6fbfc;
	font-family: 'Commissioner', sans-serif;
}

#cartao1 .cartao1__titulo {
	font-size: 25px;
	font-weight: 800;
	margin-bottom: 5px;
}

#cartao1 .cartao1__subtitulo {
	font-size: 20px;
	margin: 5px 0 15px;
}

#cartao1 .cartao1__subtitulo strong {
	color: #68f5e0;
}

#cartao1 .cartao1__texto {
	font-size: 18px;
}

#cartao1 .cartao1__texto strong {
	color: #68f5e0;
}

#cartao1 .cartao1__principal {
	height: 200px;
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

#cartao1 .cartao1__links {
	display: flex;
	list-style: none;
	margin: 0 auto;
}

#cartao1 .cartao1__botao i {
	font-size: 30px;
	padding: 0 6px;
	color: #f6fbfc;
	transition: transform 0.5s;
}

#cartao1 .cartao1__botao i:hover {
	color: #54d7c4;
	transform: scale(1.5);
}

footer {
	border-top: 1px solid #F78B1F;
}

footer .container {
	height: 195px;
	color: #005594;
}

.midias-empresas,
.empresas-parceiras {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	font-weight: bold;
}

.social-media-icons,
.logo-empresas-icones {
	display: flex;
	align-items: center;
	gap: 16px;
}

/* Responsividade */
@media screen and (max-width: 1280px) {
  .container {
    width: 720px;
  }

  .menu {
    gap: 16px;
  }

  .cartoes {
    width: 680px;
  }

  .logo-devboard {
    width: 200px;
  }
}
