
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&family=Poppins:wght@200&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html {
	height: 100%;
	width: 100%;
}

/* reset básico */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding-bottom: 16px;
	background-color: #383737;
}

header {
	border-bottom: 2px solid #a8150d;
}

header .foto__inicio{
	height:8rem;
	width:12rem;
}

.container {
	width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 150px;
	align-items: center;
}

.menu {
	display: flex;
	list-style: none;
	gap: 40px;
}

.link-menu {
	color: #edf2f5;
	font-family: 'Poppins', serif;
	font-size: 1.25rem;
	text-decoration: none;
}

.link-menu:hover {
	color: #F78B1F;
}


.cartoes {
	width: 1280px;
	margin: 64px auto;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.cartao {
	width: 620px;
	height: 500px;
}


#cartao1 {
	background: linear-gradient(#4682B4, #1E90FF, #87CEEB);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

#cartao1 span:first-of-type {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background: linear-gradient(to right, transparent, #00BFFF);
	animation: animar1 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animar1 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

#cartao1 span:nth-of-type(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background: linear-gradient(to bottom, transparent, #00BFFF);
	animation: animar2 2s linear infinite;
}

@keyframes animar2 {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
	}
}

#cartao1 span:nth-of-type(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 6px;
	background: linear-gradient(to left, transparent, #00BFFF);
	animation: animar3 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animar3 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

#cartao1 span:nth-of-type(4) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 6px;
	height: 100%;
	background: linear-gradient(to top, transparent, #00BFFF);
	animation: animar4 2s linear infinite;
}

@keyframes animar4 {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
	}
}

#cartao1 .cartao1__header {
	width: 100%;
	background-image: url('https://static6.depositphotos.com/1009659/619/i/450/depositphotos_6190154-stock-photo-blue-background-with-net.jpg');
	background-repeat: repeat-x;
}

#cartao1 .cartao1__header h1{
	color: #f6fbfc;
	font-family: 'Commissioner', sans-serif;
	font-size: 2rem;
	margin: 3rem 0;
}

#cartao1 .cartao1__foto {
	width: 50%;
	border-radius: 5%;
}

#cartao1 .cartao1__apresentacao {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #f6fbfc;
	font-family: 'Commissioner', sans-serif;
	
	background-color: #99d1be;
}

#cartao1 .cartao1__titulo {
	font-size: 25px;
	font-weight: 800;
	margin-bottom: 5px;
}

#cartao1 .cartao1__subtitulo {
	font-size: 20px;
	margin: 5px 0 15px;
}

#cartao1 .cartao1__subtitulo strong {
	color: #68f5e0;
}

#cartao1 .cartao1__texto {
	font-size: 18px;
}

#cartao1 .cartao1__texto strong {
	color: #68f5e0;
}

#cartao1 .cartao1__principal {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

	background-color:#a377d1;
}


footer {
	border-top: 1px solid #a8150d;
}

footer .container {
	height: 195px;
	color: #005594;
}


@media screen and (max-width: 1280px) {
  .container {
    width: 720px;
  }

  .menu {
    gap: 16px;
  }

  .cartoes {
    width: 680px;
  }

  .logo-devboard {
    width: 200px;
  }
}
